{% extends "base.html" %}

{% block content %}
    <h2>Patient Dashboard</h2>
    
    {% include '_animation_widget.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <ul>
        <li><strong>NHS Number:</strong> {{ nhs_number or 'N/A' }}</li>
        <li><strong>EHR ID:</strong> {{ ehr_id }}</li>
    </ul>

    <hr>
    <h3>Actions</h3>

    <form action="{{ url_for('data_entry.enter_clinic_check', ehr_id=ehr_id, nhs_number=nhs_number) }}" method="GET" class="action-button-form">
        <button type="submit">Enter Clinic Check Vitals</button>
    </form>

    <form action="{{ url_for('data_entry.generate_hba1c', ehr_id=ehr_id, nhs_number=nhs_number) }}" method="POST" class="action-button-form">
        {{ form.hidden_tag() }} 
        <button type="submit">Generate HbA1c Result</button>
    </form>

{% endblock %}